### Getting started

In [1]:
import pandas as pd 
import numpy as np

In [73]:
 df = pd.read_csv('chipotle.tsv', sep='\t')

In [74]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [7]:
df.shape

(4622, 5)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [12]:
list(df.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [14]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [69]:
df.describe(include='all')

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043          1
top             NaN          NaN  Chicken Bowl        [Diet Coke]    float64
freq            NaN          NaN           726                134       4622
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

In [41]:
df.loc[(df.quantity >= 10) , ['order_id', 'quantity']]

      order_id  quantity
3598      1443        15
4152      1660        10

In [44]:
df.iloc[3:11, :-1]

,order_id,quantity,item_name,choice_description
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans..."
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou..."
6,3,1,Side of Chips,NaN
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables..."
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch..."
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto..."
10,5,1,Chips and Guacamole,NaN

In [68]:
df.iloc[9]

order_id                                                              5
quantity                                                              1
item_name                                                 Steak Burrito
choice_description    [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...
item_price                                                      float64
Name: 9, dtype: object

In [75]:
df.item_price.apply(lambda x: x[1:])

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [76]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [78]:
df.item_price.dtype

dtype('O')

In [84]:
df.item_price = df.item_price.apply(lambda x: float(x[1:]))

In [86]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [87]:
df['total_price'] = df['quantity']*df['item_price']

In [88]:
df

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [90]:
print(sum(df.total_price))
print(df.total_price.sum())

39237.020000000055
39237.02

In [99]:
c = df.groupby('item_name')['quantity', 'item_name'].apply(print)
c.sort_values(ascending=False)

      quantity          item_name
298          1  6 Pack Soft Drink
341          1  6 Pack Soft Drink
357          1  6 Pack Soft Drink
388          1  6 Pack Soft Drink
417          1  6 Pack Soft Drink
553          1  6 Pack Soft Drink
639          1  6 Pack Soft Drink
721          1  6 Pack Soft Drink
743          1  6 Pack Soft Drink
879          1  6 Pack Soft Drink
1026         1  6 Pack Soft Drink
1051         1  6 Pack Soft Drink
1124         1  6 Pack Soft Drink
1167         1  6 Pack Soft Drink
1260         1  6 Pack Soft Drink
1279         1  6 Pack Soft Drink
1392         1  6 Pack Soft Drink
1755         1  6 Pack Soft Drink
1758         1  6 Pack Soft Drink
1849         1  6 Pack Soft Drink
1860         1  6 Pack Soft Drink
1916         1  6 Pack Soft Drink
1922         1  6 Pack Soft Drink
1937         1  6 Pack Soft Drink
1976         1  6 Pack Soft Drink
2108         1  6 Pack Soft Drink
2232         1  6 Pack Soft Drink
2374         1  6 Pack Soft Drink
2389         1  6 Pack Soft Drink
2713         1  6 Pack Soft Drink
2793         1  6 Pack Soft Drink
2860         1  6 Pack Soft Drink
3010         1  6 Pack Soft Drink
3132         1  6 Pack Soft Drink
3141         1  6 Pack Soft Drink
3389         2  6 Pack Soft Drink
3422         1  6 Pack Soft Drink
3600         1  6 Pack Soft Drink
3614         1  6 Pack Soft Drink
3633         1  6 Pack Soft Drink
3693         1  6 Pack Soft Drink
3766         1  6 Pack Soft Drink
3789         1  6 Pack Soft Drink
3806         1  6 Pack Soft Drink
3836         1  6 Pack Soft Drink
3875         1  6 Pack Soft Drink
3886         1  6 Pack Soft Drink
4169         1  6 Pack Soft Drink
4174         1  6 Pack Soft Drink
4359         1  6 Pack Soft Drink
4363         1  6 Pack Soft Drink
4522         1  6 Pack Soft Drink
4527         1  6 Pack Soft Drink
4535         1  6 Pack Soft Drink
      quantity      item_name
39           1  Barbacoa Bowl
58           1  Barbacoa Bowl
95           1  Barbacoa Bowl
115          1  Barbacoa Bowl
127          1  Barbacoa Bowl
...        ...            ...
4380         1  Barbacoa Bowl
4441         1  Barbacoa Bowl
4485         1  Barbacoa Bowl
4510         1  Barbacoa Bowl
4594         1  Barbacoa Bowl

[66 rows x 2 columns]
      quantity         item_name
21           1  Barbacoa Burrito
81           1  Barbacoa Burrito
121          1  Barbacoa Burrito
130          1  Barbacoa Burrito
144          1  Barbacoa Burrito
...        ...               ...
4355         1  Barbacoa Burrito
4358         1  Barbacoa Burrito
4592         1  Barbacoa Burrito
4602         1  Barbacoa Burrito
4603         1  Barbacoa Burrito

[91 rows x 2 columns]
      quantity              item_name
168          1  Barbacoa Crispy Tacos
255          1  Barbacoa Crispy Tacos
429          1  Barbacoa Crispy Tacos
485          1  Barbacoa Crispy Tacos
763          1  Barbacoa Crispy Tacos
829          1  Barbacoa Crispy Tacos
1019         1  Barbacoa Crispy Tacos
1866         1  Barbacoa Crispy Tacos
1903         2  Barbacoa Crispy Tacos
2787         1  Barbacoa Crispy Tacos
3321         1  Barbacoa Crispy Tacos
      quantity            item_name
1229         1  Barbacoa Salad Bowl
1326         1  Barbacoa Salad Bowl
1418         1  Barbacoa Salad Bowl
1421         1  Barbacoa Salad Bowl
1825         1  Barbacoa Salad Bowl
2442         1  Barbacoa Salad Bowl
3208         1  Barbacoa Salad Bowl
3356         1  Barbacoa Salad Bowl
3546         1  Barbacoa Salad Bowl
4390         1  Barbacoa Salad Bowl
      quantity            item_name
56           1  Barbacoa Soft Tacos
181          1  Barbacoa Soft Tacos
268          1  Barbacoa Soft Tacos
611          1  Barbacoa Soft Tacos
857          1  Barbacoa Soft Tacos
988          1  Barbacoa Soft Tacos
1129         1  Barbacoa Soft Tacos
1149         1  Barbacoa Soft Tacos
1240         1  Barbacoa Soft Tacos
1334         1  Barbacoa Soft Tacos
1391         1  Barbacoa Soft Tacos
1642         1  Barbacoa Soft Tacos
1669         1  Barbacoa Soft Tacos
1754         1  Barbacoa Soft Tacos
1985         1  Barbacoa Soft Tacos
2083         1  Barbacoa Soft Tacos
2248         1  Barbacoa Soft Tacos
2259         1  Barbacoa Soft Tacos
2434         1  Barbacoa Soft Tacos
2780         1  Barbacoa Soft Tacos
3184         1  Barbacoa Soft Tacos
3211         1  Barbacoa Soft Tacos
3548         1  Barbacoa Soft Tacos
4182         1  Barbacoa Soft Tacos
4271         1  Barbacoa Soft Tacos
      quantity      item_name
34           1  Bottled Water
87           1  Bottled Water
318          1  Bottled Water
329          1  Bottled Water
376          1  Bottled Water
...        ...            ...
4568         1  Bottled Water
4570         1  Bottled Water
4582         2  Bottled Water
4598         1  Bottled Water
4614         1  Bottled Water

[162 rows x 2 columns]
     quantity item_name
445         3      Bowl
673         1      Bowl
     quantity item_name
510         1   Burrito
511         1   Burrito
519         1   Burrito
675         1   Burrito
759         1   Burrito
760         1   Burrito
      quantity    item_name
18           2  Canned Soda
28           1  Canned Soda
51           2  Canned Soda
53           1  Canned Soda
107          1  Canned Soda
...        ...          ...
3897         1  Canned Soda
3926         1  Canned Soda
3936         1  Canned Soda
4008         1  Canned Soda
4051         1  Canned Soda

[104 rows x 2 columns]
      quantity          item_name
263          1  Canned Soft Drink
292          1  Canned Soft Drink
320          1  Canned Soft Drink
337          1  Canned Soft Drink
346          1  Canned Soft Drink
...        ...                ...
4585         1  Canned Soft Drink
4597         1  Canned Soft Drink
4601         1  Canned Soft Drink
4606         1  Canned Soft Drink
4609         1  Canned Soft Drink

[301 rows x 2 columns]
      quantity      item_name
33           1  Carnitas Bowl
97           1  Carnitas Bowl
145          1  Carnitas Bowl
163          1  Carnitas Bowl
399          1  Carnitas Bowl
...        ...            ...
4500         1  Carnitas Bowl
4504         1  Carnitas Bowl
4562         1  Carnitas Bowl
4593         1  Carnitas Bowl
4612         1  Carnitas Bowl

[68 rows x 2 columns]
      quantity         item_name
27           1  Carnitas Burrito
88           1  Carnitas Burrito
93           1  Carnitas Burrito
239          1  Carnitas Burrito
373          1  Carnitas Burrito
421          1  Carnitas Burrito
462          1  Carnitas Burrito
478          1  Carnitas Burrito
626          1  Carnitas Burrito
652          1  Carnitas Burrito
691          1  Carnitas Burrito
767          1  Carnitas Burrito
835          1  Carnitas Burrito
865          1  Carnitas Burrito
959          1  Carnitas Burrito
974          1  Carnitas Burrito
1063         1  Carnitas Burrito
1097         1  Carnitas Burrito
1127         1  Carnitas Burrito
1197         1  Carnitas Burrito
1238         1  Carnitas Burrito
1287         1  Carnitas Burrito
1337         1  Carnitas Burrito
1462         1  Carnitas Burrito
1627         1  Carnitas Burrito
1677         1  Carnitas Burrito
1909         1  Carnitas Burrito
1947         1  Carnitas Burrito
2032         1  Carnitas Burrito
2092         1  Carnitas Burrito
2239         1  Carnitas Burrito
2270         1  Carnitas Burrito
2382         1  Carnitas Burrito
2454         1  Carnitas Burrito
2523         1  Carnitas Burrito
2581         2  Carnitas Burrito
2586         1  Carnitas Burrito
2686         1  Carnitas Burrito
2697         1  Carnitas Burrito
2790         1  Carnitas Burrito
2884         1  Carnitas Burrito
2951         1  Carnitas Burrito
3252         1  Carnitas Burrito
3421         1  Carnitas Burrito
3441         1  Carnitas Burrito
3529         1  Carnitas Burrito
3619         1  Carnitas Burrito
3757         1  Carnitas Burrito
3803         1  Carnitas Burrito
3882         1  Carnitas Burrito
4041         1  Carnitas Burrito
4141         1  Carnitas Burrito
4249         1  Carnitas Burrito
4386         1  Carnitas Burrito
4421         1  Carnitas Burrito
4437         1  Carnitas Burrito
4482         1  Carnitas Burrito
4487         1  Carnitas Burrito
4578         1  Carnitas Burrito
      quantity              item_name
554          1  Carnitas Crispy Tacos
1008         1  Carnitas Crispy Tacos
1195         1  Carnitas Crispy Tacos
1632         1  Carnitas Crispy Tacos
1838         1  Carnitas Crispy Tacos
3890         2  Carnitas Crispy Tacos
4450         1  Carnitas Crispy Tacos
      quantity       item_name
3750         1  Carnitas Salad
      quantity            item_name
1132         1  Carnitas Salad Bowl
1865         1  Carnitas Salad Bowl
2610         1  Carnitas Salad Bowl
3115         1  Carnitas Salad Bowl
3749         1  Carnitas Salad Bowl
4239         1  Carnitas Salad Bowl
      quantity            item_name
237          1  Carnitas Soft Tacos
405          1  Carnitas Soft Tacos
453          1  Carnitas Soft Tacos
565          1  Carnitas Soft Tacos
590          1  Carnitas Soft Tacos
667          1  Carnitas Soft Tacos
755          1  Carnitas Soft Tacos
820          1  Carnitas Soft Tacos
1186         1  Carnitas Soft Tacos
1390         1  Carnitas Soft Tacos
1437         1  Carnitas Soft Tacos
1587         1  Carnitas Soft Tacos
1668         1  Carnitas Soft Tacos
1772         1  Carnitas Soft Tacos
1789         1  Carnitas Soft Tacos
1963         1  Carnitas Soft Tacos
2000         1  Carnitas Soft Tacos
2080         1  Carnitas Soft Tacos
2119         1  Carnitas Soft Tacos
2201         1  Carnitas Soft Tacos
2247         1  Carnitas Soft Tacos
2298         1  Carnitas Soft Tacos
2299         1  Carnitas Soft Tacos
2551         1  Carnitas Soft Tacos
2715         1  Carnitas Soft Tacos
2898         1  Carnitas Soft Tacos
3067         1  Carnitas Soft Tacos
3308         1  Carnitas Soft Tacos
3340         1  Carnitas Soft Tacos
3341         1  Carnitas Soft Tacos
3620         1  Carnitas Soft Tacos
3688         1  Carnitas Soft Tacos
3695         1  Carnitas Soft Tacos
3814         1  Carnitas Soft Tacos
3940         1  Carnitas Soft Tacos
4095         1  Carnitas Soft Tacos
4136         1  Carnitas Soft Tacos
4147         1  Carnitas Soft Tacos
4326         1  Carnitas Soft Tacos
4557         1  Carnitas Soft Tacos
      quantity     item_name
4            2  Chicken Bowl
5            1  Chicken Bowl
13           1  Chicken Bowl
19           1  Chicken Bowl
26           1  Chicken Bowl
...        ...           ...
4590         1  Chicken Bowl
4591         1  Chicken Bowl
4595         1  Chicken Bowl
4599         1  Chicken Bowl
4604         1  Chicken Bowl

[726 rows x 2 columns]
      quantity        item_name
16           1  Chicken Burrito
17           1  Chicken Burrito
23           1  Chicken Burrito
29           1  Chicken Burrito
45           1  Chicken Burrito
...        ...              ...
4556         1  Chicken Burrito
4558         1  Chicken Burrito
4559         1  Chicken Burrito
4566         1  Chicken Burrito
4569         1  Chicken Burrito

[553 rows x 2 columns]
      quantity             item_name
11           1  Chicken Crispy Tacos
217          2  Chicken Crispy Tacos
365          1  Chicken Crispy Tacos
598          1  Chicken Crispy Tacos
600          1  Chicken Crispy Tacos
768          1  Chicken Crispy Tacos
830          1  Chicken Crispy Tacos
866          1  Chicken Crispy Tacos
885          2  Chicken Crispy Tacos
946          1  Chicken Crispy Tacos
1006         1  Chicken Crispy Tacos
1027         1  Chicken Crispy Tacos
1345         1  Chicken Crispy Tacos
1844         1  Chicken Crispy Tacos
2375         1  Chicken Crispy Tacos
2422         1  Chicken Crispy Tacos
2507         1  Chicken Crispy Tacos
2515         1  Chicken Crispy Tacos
2549         1  Chicken Crispy Tacos
2556         1  Chicken Crispy Tacos
2604         1  Chicken Crispy Tacos
2651         1  Chicken Crispy Tacos
2668         1  Chicken Crispy Tacos
2908         1  Chicken Crispy Tacos
2912         1  Chicken Crispy Tacos
2965         1  Chicken Crispy Tacos
3041         1  Chicken Crispy Tacos
3072         1  Chicken Crispy Tacos
3077         1  Chicken Crispy Tacos
3078         1  Chicken Crispy Tacos
3099         1  Chicken Crispy Tacos
3192         1  Chicken Crispy Tacos
3240         1  Chicken Crispy Tacos
3309         1  Chicken Crispy Tacos
3324         1  Chicken Crispy Tacos
3372         1  Chicken Crispy Tacos
3472         1  Chicken Crispy Tacos
3593         1  Chicken Crispy Tacos
3631         1  Chicken Crispy Tacos
3638         1  Chicken Crispy Tacos
3816         1  Chicken Crispy Tacos
3891         2  Chicken Crispy Tacos
4116         1  Chicken Crispy Tacos
4322         1  Chicken Crispy Tacos
4346         1  Chicken Crispy Tacos
4371         1  Chicken Crispy Tacos
4453         1  Chicken Crispy Tacos
      quantity      item_name
250          1  Chicken Salad
1065         1  Chicken Salad
2968         1  Chicken Salad
3045         1  Chicken Salad
3363         1  Chicken Salad
3730         1  Chicken Salad
3733         1  Chicken Salad
3982         1  Chicken Salad
3989         1  Chicken Salad
      quantity           item_name
44           1  Chicken Salad Bowl
135          2  Chicken Salad Bowl
213          2  Chicken Salad Bowl
256          1  Chicken Salad Bowl
315          2  Chicken Salad Bowl
...        ...                 ...
4561         2  Chicken Salad Bowl
4580         1  Chicken Salad Bowl
4619         1  Chicken Salad Bowl
4620         1  Chicken Salad Bowl
4621         1  Chicken Salad Bowl

[110 rows x 2 columns]
      quantity           item_name
12           1  Chicken Soft Tacos
35           1  Chicken Soft Tacos
36           1  Chicken Soft Tacos
75           1  Chicken Soft Tacos
79           1  Chicken Soft Tacos
...        ...                 ...
4474         1  Chicken Soft Tacos
4502         1  Chicken Soft Tacos
4514         1  Chicken Soft Tacos
4550         1  Chicken Soft Tacos
4615         1  Chicken Soft Tacos

[115 rows x 2 columns]
      quantity item_name
40           1     Chips
59           1     Chips
77           1     Chips
80           1     Chips
208          1     Chips
...        ...       ...
4505         1     Chips
4509         1     Chips
4525         1     Chips
4584         1     Chips
4613         1     Chips

[211 rows x 2 columns]
      quantity                     item_name
0            1  Chips and Fresh Tomato Salsa
25           1  Chips and Fresh Tomato Salsa
55           1  Chips and Fresh Tomato Salsa
89           1  Chips and Fresh Tomato Salsa
183          1  Chips and Fresh Tomato Salsa
...        ...                           ...
4231         1  Chips and Fresh Tomato Salsa
4318         1  Chips and Fresh Tomato Salsa
4324         1  Chips and Fresh Tomato Salsa
4425         1  Chips and Fresh Tomato Salsa
4503         1  Chips and Fresh Tomato Salsa

[110 rows x 2 columns]
      quantity            item_name
10           1  Chips and Guacamole
14           1  Chips and Guacamole
20           1  Chips and Guacamole
37           1  Chips and Guacamole
41           1  Chips and Guacamole
...        ...                  ...
4588         1  Chips and Guacamole
4596         1  Chips and Guacamole
4600         1  Chips and Guacamole
4605         1  Chips and Guacamole
4616         1  Chips and Guacamole

[479 rows x 2 columns]
     quantity                          item_name
674         1  Chips and Mild Fresh Tomato Salsa
      quantity                           item_name
233          1  Chips and Roasted Chili Corn Salsa
562          1  Chips and Roasted Chili Corn Salsa
708          1  Chips and Roasted Chili Corn Salsa
841          1  Chips and Roasted Chili Corn Salsa
906          1  Chips and Roasted Chili Corn Salsa
1067         1  Chips and Roasted Chili Corn Salsa
1150         1  Chips and Roasted Chili Corn Salsa
1292         1  Chips and Roasted Chili Corn Salsa
1358         1  Chips and Roasted Chili Corn Salsa
1371         1  Chips and Roasted Chili Corn Salsa
1450         1  Chips and Roasted Chili Corn Salsa
1555         2  Chips and Roasted Chili Corn Salsa
1597         1  Chips and Roasted Chili Corn Salsa
1658         1  Chips and Roasted Chili Corn Salsa
1925         1  Chips and Roasted Chili Corn Salsa
1962         1  Chips and Roasted Chili Corn Salsa
2346         1  Chips and Roasted Chili Corn Salsa
2373         1  Chips and Roasted Chili Corn Salsa
2602         1  Chips and Roasted Chili Corn Salsa
2967         1  Chips and Roasted Chili Corn Salsa
3449         1  Chips and Roasted Chili Corn Salsa
3780         1  Chips and Roasted Chili Corn Salsa
      quantity                           item_name
191          1  Chips and Roasted Chili-Corn Salsa
648          1  Chips and Roasted Chili-Corn Salsa
1180         1  Chips and Roasted Chili-Corn Salsa
1458         1  Chips and Roasted Chili-Corn Salsa
1628         1  Chips and Roasted Chili-Corn Salsa
2053         1  Chips and Roasted Chili-Corn Salsa
2140         1  Chips and Roasted Chili-Corn Salsa
2301         1  Chips and Roasted Chili-Corn Salsa
2371         1  Chips and Roasted Chili-Corn Salsa
2907         1  Chips and Roasted Chili-Corn Salsa
3024         1  Chips and Roasted Chili-Corn Salsa
3054         1  Chips and Roasted Chili-Corn Salsa
3194         1  Chips and Roasted Chili-Corn Salsa
3206         1  Chips and Roasted Chili-Corn Salsa
3268         1  Chips and Roasted Chili-Corn Salsa
3398         1  Chips and Roasted Chili-Corn Salsa
3628         1  Chips and Roasted Chili-Corn Salsa
3905         1  Chips and Roasted Chili-Corn Salsa
      quantity                              item_name
38           1  Chips and Tomatillo Green Chili Salsa
232          1  Chips and Tomatillo Green Chili Salsa
235          2  Chips and Tomatillo Green Chili Salsa
366          1  Chips and Tomatillo Green Chili Salsa
537          1  Chips and Tomatillo Green Chili Salsa
627          1  Chips and Tomatillo Green Chili Salsa
655          1  Chips and Tomatillo Green Chili Salsa
703          1  Chips and Tomatillo Green Chili Salsa
782          1  Chips and Tomatillo Green Chili Salsa
809          1  Chips and Tomatillo Green Chili Salsa
916          1  Chips and Tomatillo Green Chili Salsa
1157         1  Chips and Tomatillo Green Chili Salsa
1259         2  Chips and Tomatillo Green Chili Salsa
1518         1  Chips and Tomatillo Green Chili Salsa
1568         1  Chips and Tomatillo Green Chili Salsa
1573         1  Chips and Tomatillo Green Chili Salsa
1577         1  Chips and Tomatillo Green Chili Salsa
1583         1  Chips and Tomatillo Green Chili Salsa
1589         1  Chips and Tomatillo Green Chili Salsa
1593         1  Chips and Tomatillo Green Chili Salsa
1847         1  Chips and Tomatillo Green Chili Salsa
2296         1  Chips and Tomatillo Green Chili Salsa
2641         1  Chips and Tomatillo Green Chili Salsa
2655         1  Chips and Tomatillo Green Chili Salsa
3257         1  Chips and Tomatillo Green Chili Salsa
3402         1  Chips and Tomatillo Green Chili Salsa
3479         1  Chips and Tomatillo Green Chili Salsa
3513         1  Chips and Tomatillo Green Chili Salsa
3522         1  Chips and Tomatillo Green Chili Salsa
3560         1  Chips and Tomatillo Green Chili Salsa
3562         1  Chips and Tomatillo Green Chili Salsa
3624         1  Chips and Tomatillo Green Chili Salsa
3817         1  Chips and Tomatillo Green Chili Salsa
3901         1  Chips and Tomatillo Green Chili Salsa
3975         1  Chips and Tomatillo Green Chili Salsa
3992         1  Chips and Tomatillo Green Chili Salsa
3995         1  Chips and Tomatillo Green Chili Salsa
4129         1  Chips and Tomatillo Green Chili Salsa
4254         1  Chips and Tomatillo Green Chili Salsa
4328         1  Chips and Tomatillo Green Chili Salsa
4400         1  Chips and Tomatillo Green Chili Salsa
4476         1  Chips and Tomatillo Green Chili Salsa

C:\Users\hoang\AppData\Local\Temp\ipykernel_20512\4190147250.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  c = df.groupby('item_name')['quantity', 'item_name'].apply(print)

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [108]:
df['item_name'].nunique()

50

In [109]:
df['item_name'].count()

4622